td{
  /*height: 50px;*/
  /*width: 50px;*/
  border-style: solid;
  /*background-color: lightgray;*/
}
.revealed{
  background-color: white;
}
.hidden{
  background-color: lightgray;
}
.mineReveal{
  background-color: red;
}
img{
  max-width: 100%;
  max-height: 100%;
}
